/*

Template: Law Firm - Responsive Multi-purpose HTML5 Template
Author: 
Design and Developed by: 

NOTE: This is typography stylesheet of template, This file contains typography of the Template.

*/

/*---- Table of contents ----
 
:: General
:: Page section margin padding 
:: Text color
:: Row height eq And No Gutter
:: Extra class
:: Basic margin padding
 
---- End table content ----*/
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/*---- General Style Start ----*/
html{
	font-size: 15px; 
}
body { 
	font-family: 'Poppins', sans-serif;
	font-weight: normal; 
	font-style: normal; 
	color: #898989; 
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
	line-height: 26px;
}
a, .btn  {
	-webkit-transition: all 0.3s ease-out 0s; 
	-moz-transition: all 0.3s ease-out 0s; 
	-ms-transition: all 0.3s ease-out 0s; 
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s; 
}
a:focus { 
	text-decoration: none !important; 
}
a:focus, a:hover { 
	color: #9b7b30; 
	text-decoration: none !important; 
}
a, button, input { 
	outline: medium none !important; 
	color: #9b7b30; 
}
.uppercase { 
	text-transform: uppercase; 
}
h1, h2, h3, h4, h5, h6 { 
	font-family: 'EB Garamond', serif;
	font-weight: 400; 
	color: #000;
	margin-top: 0px; 
    line-height: 1.5;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	color: inherit; 
}
label { 
	font-weight: normal; 
}
ul { 
	margin: 0px; 
	padding: 0px; 
}
p { 
	font-weight: normal; 	
	color: #898989;	    
	margin-bottom: 0;
}
hr { 
	margin: 0; 
	padding: 0px; 
	border-bottom:1px dashed #eceff8; 
	border-top: 0px; 
} 
hr.light { 
	margin: 0; padding: 0px; 
	border-bottom:1px solid rgba(255,255,255,0.1); 
	border-top: 0px; 
} 
*::-moz-selection { 
	background: #9b7b30; 
	color: #fff; 
	text-shadow: none; 
}
::-moz-selection { 
	background: #9b7b30; 
	color: #fff; 
	text-shadow: none; 
}
::selection { 
	background: #9b7b30; 
	color: #fff; 
	text-shadow: none; 
}
del, mark {
    padding: 0 5px;
    margin-right: 3px;
}

/*---- Font Weight Start----*/
.f-w1 { font-weight: 100 !important;}
.f-w2 { font-weight: 200 !important; }
.f-w3 { font-weight: 300 !important; }
.f-w4 { font-weight: 400 !important; }
.f-w5 { font-weight: 500 !important; }
.f-w6 { font-weight: 600 !important; }
.f-w7 { font-weight: 700 !important; }
.f-w8 { font-weight: 800 !important; }
.f-w9 { font-weight: 900 !important; }
/*---- Font Weight End----*/

/*------------------font-size -------------*/
.fs-10{ font-size: 0.714rem !important;}
.fs-12{ font-size: 0.857rem !important;}
.fs-14{ font-size: 1rem !important;}
.fs-15{ font-size: 1.071rem !important;}
.fs-16{ font-size: 1.1429rem !important;}
.fs-18{ font-size: 1.2857rem !important;}
.fs-20{ font-size: 1.428rem !important;}
.fs-24{ font-size: 1.714rem !important;}
.fs-25{ font-size: 1.785rem !important;}
.fs-26{ font-size: 1.857rem !important;}
.fs-28{ font-size: 2rem !important;}
.fs-30{ font-size: 2.142rem !important;}
.fs-35{ font-size: 2.5rem !important;}
.fs-36{ font-size: 2.571rem !important;}
.fs-40{ font-size: 2.857rem !important;}
.fs-50{ font-size: 3.571rem !important;}
.fs-60{ font-size: 4.285rem !important;}
.fs-70{ font-size: 5rem !important;}
.fs-80{ font-size: 5.714rem !important;}
.fs-100{ font-size: 7.143rem !important;}
.fs-120{ font-size: 8.571rem !important;}
.fs-140{ font-size: 10rem !important;}
.fs-150{ font-size: 10.714rem !important;}
.fs-180{ font-size: 12.857rem !important;}

/*---- line height Start----*/
.l-h24 { line-height: 24px; }
.l-h26 { line-height: 26px; }
.l-h28 { line-height: 28px; }
.l-h30 { line-height: 30px; }
.l-h32 { line-height: 32px; }
.l-h34 { line-height: 34px; }
.l-h36 { line-height: 36px; }
.l-h38 { line-height: 38px; }
.l-h40 { line-height: 40px; }
.l-h50 { line-height: 50px; }
.l-h55 { line-height: 55px; }
.l-h60 { line-height: 60px; }
.l-h70 { line-height: 70px; }
.l-h80 { line-height: 80px; }
.l-h85 { line-height: 85px; }

/*---- line height End----*/

img.bottom-img { 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0;  
}
.pos-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*---- General Style End ----*/

/*----Page section padding End---*/

/*----Text color Start----*/
.theme-color { color: #9b7b30 !important; }
.txt-white { color: #fff !important; }
.txt-black { color: #363636 !important; }
.txt-gray { color: #999999 !important; }
/*----Text color End----*/

/*---- Row-height-eq and no gutter ----*/
.no-gutter{  
	margin-right:0; 
	margin-left:0;
}
.no-gutter > [class*='col-'] { 
	padding-right:0; 
	padding-left:0;
}
.row-height-eq{
	display:-webkit-box; 
	display:-webkit-flex; 
	display:-ms-flexbox; 
	display:flex;
}
.row-height-eq.full-height > [class*='col-'] > div{
	height: 100%;
}

/*---- vertical Align Start----*/
.v-align{
	display: table;
}
.v-align > [class*='col-']{
	display:table-cell; 
	float:none;
}
[data-v-align-overlay="top"]{
	vertical-align:top;
}
[data-v-align-overlay="middle"]{
	vertical-align:middle;
}
[data-v-align-overlay="bottom"]{
	vertical-align:bottom;
}
.v-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/*---- vertical Align End----*/

/*---- Extra classes start ----*/
.overflow-hidden { 
	overflow: hidden; 
}
.pos-rel { 
	position: relative; 
}
.full-width{
	width: 100% !important;
}
section { 
	background: #ffffff; 
}
/*---- Extra classes end ----*/
 
/*font size in rem*/
h1 {
    font-size: 2.571rem;
    font-style: normal;
}
h2 {
    font-size: 2.142rem;
    font-style: normal;
}
h3 {
    font-size: 1.714rem;
    font-style: normal;
}
h4 {
    font-size: 1.285rem;
    font-style: normal;
}
h5 {
    font-size: 1rem;
    font-style: normal;
}
h6 {
    font-size: 0.571rem;
    font-style: normal;
}
/*---- section margin padding start----*/
.section-ptb-0 { padding: 0 0; }
.section-pt-0 { padding: 0 0 0; }
.section-pb-0 { padding: 0 0 0; }

.section-ptb-10 { padding: 10px 0; }
.section-pt-10 { padding: 10px 0 0; }
.section-pb-10 { padding: 0 0 10px; }

.section-ptb-20 { padding: 20px 0; }
.section-pt-20 { padding: 20px 0 0; }
.section-pb-20 { padding: 0 0 20px; }

.section-ptb-30 { padding: 30px 0; }
.section-pt-30 { padding: 30px 0 0; }
.section-pb-30 { padding: 0 0 30px; }

.section-ptb-40 { padding: 40px 0; }
.section-pt-40 { padding: 40px 0 0; }
.section-pb-40 { padding: 0 0 40px; }

.section-ptb-50 { padding: 50px 0; }
.section-pt-50 { padding: 50px 0 0; }
.section-pb-50 { padding: 0 0 50px; }

.section-ptb-60 { padding: 60px 0; }
.section-pt-60 { padding: 60px 0 0; }
.section-pb-60 { padding: 0 0 60px; }

.section-ptb-70 { padding: 70px 0; }
.section-pt-70 { padding: 70px 0 0; }
.section-pb-70 { padding: 0 0 70px; }

.section-ptb-80 { padding: 80px 0; }
.section-pt-80 { padding: 80px 0 0; }
.section-pb-80 { padding: 0 0 80px; }

.section-ptb-90 { padding: 90px 0; }
.section-pt-90 { padding: 90px 0 0; }
.section-pb-90 { padding: 0 0 90px; }

.section-ptb-100 { padding: 100px 0; }
.section-pt-100 { padding: 100px 0 0; }
.section-pb-100 { padding: 0 0 100px; }

.section-ptb-110 { padding: 110px 0; }
.section-pt-110 { padding: 110px 0 0; }
.section-pb-110 { padding: 0 0 110px; }

.section-ptb-120 { padding: 120px 0; }
.section-pt-120 { padding: 120px 0 0; }
.section-pb-120 { padding: 0 0 120px; }

.section-ptb-150 { padding: 150px 0; }
.section-pt-150 { padding: 150px 0 0; }
.section-pb-150 { padding: 0 0 150px; }
/*---- section margin padding end----*/

/*---- Basic margin padding Start----*/
.m-0 { margin: 0 !important; }
.p-0 { padding: 0 !important; }
/*---- Basic margin padding End----*/ 

/*---- Margin top Start ----*/
.mt-minus-2{margin-top: -2px;}
.mt-minus-2{margin-top: -2px;}
.mt-minus-3{margin-top: -3px;}
.mt-minus-4{margin-top: -4px;}
.mt-minus-5{margin-top: -5px;}
.mt-minus-10{margin-top: -10px;}
.mt-minus-20{margin-top: -20px;}
.mt-minus-30{margin-top: -30px;}
.mt-minus-40{margin-top: -40px;}
.mt-minus-50{margin-top: -50px;}
.mt-minus-60{margin-top: -60px;}
.mt-minus-180{margin-top: -180px;}
.mt-0 { margin-top: 0px !important; }
.mt-1 { margin-top: 1px !important; }
.mt-2 { margin-top: 2px !important; }
.mt-3 { margin-top: 3px !important; }
.mt-4 { margin-top: 4px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-35 { margin-top: 35px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-45 { margin-top: 45px !important; }
.mt-50 { margin-top: 50px !important; }
.mt-55 { margin-top: 55px !important; }
.mt-60 { margin-top: 60px !important; }
.mt-65 { margin-top: 65px !important; }
.mt-70 { margin-top: 70px !important; }
.mt-75 { margin-top: 75px !important; }
.mt-80 { margin-top: 80px !important; }
.mt-85 { margin-top: 85px !important; }
.mt-90 { margin-top: 90px !important; }
.mt-95 { margin-top: 95px !important; }
.mt-100 { margin-top: 100px !important; }
.mt-105 { margin-top: 105px !important; }
.mt-110 { margin-top: 110px !important; }
.mt-115 { margin-top: 115px !important; }
.mt-120 { margin-top: 120px !important; }
.mt-125 { margin-top: 125px !important; }
.mt-130 { margin-top: 130px !important; }
.mt-135 { margin-top: 135px !important; }
.mt-140 { margin-top: 140px !important; }
.mt-145 { margin-top: 145px !important; }
.mt-150 { margin-top: 150px !important; }
.mt-160 { margin-top: 160px !important; }
.mt-170 { margin-top: 170px !important; }
.mt-180 { margin-top: 180px !important; }
.mt-190 { margin-top: 190px !important; }
/*---- Margin top End ----*/ 

/*---- Margin right End ----*/
.mr-0 { margin-right: 0 !important; }
.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-20 { margin-right: 20px !important; }
.mr-25 { margin-right: 25px !important; }
.mr-30 { margin-right: 30px !important; }
.mr-35 { margin-right: 35px !important; }
.mr-40 { margin-right: 40px !important; }
.mr-45 { margin-right: 45px !important; }
.mr-50 { margin-right: 50px !important; }
.mr-55 { margin-right: 55px !important; }
.mr-60 { margin-right: 60px !important; }
.mr-65 { margin-right: 65px !important; }
.mr-70 { margin-right: 70px !important; }
.mr-75 { margin-right: 75px !important; }
.mr-80 { margin-right: 80px !important; }
.mr-85 { margin-right: 85px !important; }
.mr-90 { margin-right: 90px !important; }
.mr-95 { margin-right: 95px !important; }
.mr-100 { margin-right: 100px !important; }
.mr-105 { margin-right: 105px !important; }
.mr-110 { margin-right: 110px !important; }
.mr-115 { margin-right: 115px !important; }
.mr-120 { margin-right: 120px !important; }
.mr-125 { margin-right: 125px !important; }
.mr-130 { margin-right: 130px !important; }
.mr-135 { margin-right: 135px !important; }
.mr-140 { margin-right: 140px !important; }
.mr-145 { margin-right: 145px !important; }
.mr-150 { margin-right: 150px !important; }
/*---- Margin right End ----*/

/*---- margin bottom Start ----*/
.mb-minus-10{margin-bottom: -10px;}
.mb-minus-20{margin-bottom: -20px;}
.mb-minus-30{margin-bottom: -30px;}
.mb-minus-40{margin-bottom: -40px;}
.mb-minus-50{margin-bottom: -50px;}
.mb-0 { margin-bottom: 0 !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-35 { margin-bottom: 35px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-45 { margin-bottom: 45px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-55 { margin-bottom: 55px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-65 { margin-bottom: 65px !important; }
.mb-70 { margin-bottom: 70px !important; }
.mb-75 { margin-bottom: 75px !important; }
.mb-80 { margin-bottom: 80px !important; }
.mb-85 { margin-bottom: 85px !important; }
.mb-90 { margin-bottom: 90px !important; }
.mb-95 { margin-bottom: 95px !important; }
.mb-100 { margin-bottom: 100px !important; }
.mb-105 { margin-bottom: 105px !important; }
.mb-110 { margin-bottom: 110px !important; }
.mb-115 { margin-bottom: 115px !important; }
.mb-120 { margin-bottom: 120px !important; }
.mb-125 { margin-bottom: 125px !important; }
.mb-130 { margin-bottom: 130px !important; }
.mb-135 { margin-bottom: 135px !important; }
.mb-140 { margin-bottom: 140px !important; }
.mb-145 { margin-bottom: 145px !important; }
.mb-150 { margin-bottom: 150px !important; }
/*---- margin bottom End ----*/ 

/*---- margin left Start ----*/ 
.ml-0 { margin-left: 0 !important; }
.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-15 { margin-left: 15px !important; }
.ml-20 { margin-left: 20px !important; }
.ml-25 { margin-left: 25px !important; }
.ml-30 { margin-left: 30px !important; }
.ml-35 { margin-left: 35px !important; }
.ml-40 { margin-left: 40px !important; }
.ml-45 { margin-left: 45px !important; }
.ml-50 { margin-left: 50px !important; }
.ml-55 { margin-left: 55px !important; }
.ml-60 { margin-left: 60px !important; }
.ml-65 { margin-left: 65px !important; }
.ml-70 { margin-left: 70px !important; }
.ml-75 { margin-left: 75px !important; }
.ml-80 { margin-left: 80px !important; }
.ml-85 { margin-left: 85px !important; }
.ml-90 { margin-left: 90px !important; }
.ml-95 { margin-left: 95px !important; }
.ml-100 { margin-left: 100px !important; }
.ml-105 { margin-left: 105px !important; }
.ml-110 { margin-left: 110px !important; }
.ml-115 { margin-left: 115px !important; }
.ml-120 { margin-left: 120px !important; }
.ml-125 { margin-left: 125px !important; }
.ml-130 { margin-left: 130px !important; }
.ml-135 { margin-left: 135px !important; }
.ml-140 { margin-left: 140px !important; }
.ml-145 { margin-left: 145px !important; }
.ml-150 { margin-left: 150px !important; }
/*---- margin left End ----*/

/*---- margin top-bottom ----*/
.my-10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.my-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.my-20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.my-25 { margin-top: 25px !important; margin-bottom: 25px !important; }
.my-30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.my-35 { margin-top: 35px !important; margin-bottom: 35px !important; }
.my-40 { margin-top: 40px !important; margin-bottom: 40px !important; }
.my-45 { margin-top: 45px !important; margin-bottom: 45px !important; }
.my-50 { margin-top: 50px !important; margin-bottom: 50px !important; }
.my-55 { margin-top: 55px !important; margin-bottom: 55px !important; }
.my-60 { margin-top: 60px !important; margin-bottom: 60px !important; }
.my-65 { margin-top: 65px !important; margin-bottom: 65px !important; }
.my-70 { margin-top: 70px !important; margin-bottom: 70px !important; }
.my-75 { margin-top: 75px !important; margin-bottom: 75px !important; }
.my-80 { margin-top: 80px !important; margin-bottom: 80px !important; }
.my-85 { margin-top: 85px !important; margin-bottom: 85px !important; }
.my-90 { margin-top: 90px !important; margin-bottom: 90px !important; }
.my-95 { margin-top: 95px !important; margin-bottom: 95px !important; }
.my-100 { margin-top: 100px !important; margin-bottom: 100px !important; }
/*---- margin top-bottom end ----*/

/*---- margin left-right ----*/
.mx-10 { margin-left: 10px !important; margin-right: 10px !important; }
.mx-15 { margin-left: 15px !important; margin-right: 15px !important; }
.mx-20 { margin-left: 20px !important; margin-right: 20px !important; }
.mx-25 { margin-left: 25px !important; margin-right: 25px !important; }
.mx-30 { margin-left: 30px !important; margin-right: 30px !important; }
.mx-35 { margin-left: 35px !important; margin-right: 35px !important; }
.mx-40 { margin-left: 40px !important; margin-right: 40px !important; }
.mx-45 { margin-left: 45px !important; margin-right: 45px !important; }
.mx-50 { margin-left: 50px !important; margin-right: 50px !important; }
.mx-55 { margin-left: 55px !important; margin-right: 55px !important; }
.mx-60 { margin-left: 60px !important; margin-right: 60px !important; }
.mx-65 { margin-left: 65px !important; margin-right: 65px !important; }
.mx-70 { margin-left: 70px !important; margin-right: 70px !important; }
.mx-75 { margin-left: 75px !important; margin-right: 75px !important; }
.mx-80 { margin-left: 80px !important; margin-right: 80px !important; }
.mx-85 { margin-left: 85px !important; margin-right: 85px !important; }
.mx-90 { margin-left: 90px !important; margin-right: 90px !important; }
.mx-95 { margin-left: 95px !important; margin-right: 95px !important; }
.mx-100 { margin-left: 100px !important; margin-right: 100px !important; }
/*---- margin left-right end ----*/


/*---- padding top start ----*/
.pt-0 { padding-top: 0 !important; }
.pt-5 { padding-top: 5px !important; }
.pt-10 { padding-top: 10px !important; }
.pt-15 { padding-top: 15px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-25 { padding-top: 25px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-35 { padding-top: 35px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-45 { padding-top: 45px !important; }
.pt-50 { padding-top: 50px !important; }
.pt-55 { padding-top: 55px !important; }
.pt-60 { padding-top: 60px !important; }
.pt-65 { padding-top: 65px !important; }
.pt-70 { padding-top: 70px !important; }
.pt-75 { padding-top: 75px !important; }
.pt-80 { padding-top: 80px !important; }
.pt-85 { padding-top: 85px !important; }
.pt-90 { padding-top: 90px !important; }
.pt-95 { padding-top: 95px !important; }
.pt-100 { padding-top: 100px !important; }
.pt-105 { padding-top: 105px !important; }
.pt-110 { padding-top: 110px !important; }
.pt-115 { padding-top: 115px !important; }
.pt-120 { padding-top: 120px !important; }
.pt-125 { padding-top: 125px !important; }
.pt-130 { padding-top: 130px !important; }
.pt-135 { padding-top: 135px !important; }
.pt-140 { padding-top: 140px !important; }
.pt-145 { padding-top: 145px !important; }
.pt-150 { padding-top: 150px !important; }
/*---- padding top End ----*/

/*---- padding right right ----*/
.pr-0 { padding-right: 0 !important; }
.pr-5 { padding-right: 5px !important; }
.pr-10 { padding-right: 10px !important; }
.pr-15 { padding-right: 15px !important; }
.pr-20 { padding-right: 20px !important; }
.pr-25 { padding-right: 25px !important; }
.pr-30 { padding-right: 30px !important; }
.pr-35 { padding-right: 35px !important; }
.pr-40 { padding-right: 40px !important; }
.pr-45 { padding-right: 45px !important; }
.pr-50 { padding-right: 50px !important; }
.pr-55 { padding-right: 55px !important; }
.pr-60 { padding-right: 60px !important; }
.pr-65 { padding-right: 65px !important; }
.pr-70 { padding-right: 70px !important; }
.pr-75 { padding-right: 75px !important; }
.pr-80 { padding-right: 80px !important; }
.pr-85 { padding-right: 85px !important; }
.pr-90 { padding-right: 90px !important; }
.pr-95 { padding-right: 95px !important; }
.pr-100 { padding-right: 100px !important; }
.pr-105 { padding-right: 105px !important; }
.pr-110 { padding-right: 110px !important; }
.pr-115 { padding-right: 115px !important; }
.pr-120 { padding-right: 120px !important; }
.pr-125 { padding-right: 125px !important; }
.pr-130 { padding-right: 130px !important; }
.pr-135 { padding-right: 135px !important; }
.pr-140 { padding-right: 140px !important; }
.pr-145 { padding-right: 145px !important; }
.pr-150 { padding-right: 150px !important; }
/*---- padding right End ----*/

/*---- padding bottom Start  ----*/
.pb-0 { padding-bottom: 0 !important; }
.pb-5 { padding-bottom: 5px !important; }
.pb-10 { padding-bottom: 10px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pb-25 { padding-bottom: 25px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pb-35 { padding-bottom: 35px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-45 { padding-bottom: 45px !important; }
.pb-50 { padding-bottom: 50px !important; }
.pb-55 { padding-bottom: 55px !important; }
.pb-60 { padding-bottom: 60px !important; }
.pb-65 { padding-bottom: 65px !important; }
.pb-70 { padding-bottom: 70px !important; }
.pb-75 { padding-bottom: 75px !important; }
.pb-80 { padding-bottom: 80px !important; }
.pb-85 { padding-bottom: 85px !important; }
.pb-90 { padding-bottom: 90px !important; }
.pb-95 { padding-bottom: 95px !important; }
.pb-100 { padding-bottom: 100px !important; }
.pb-105 { padding-bottom: 105px !important; }
.pb-110 { padding-bottom: 110px !important; }
.pb-115 { padding-bottom: 115px !important; }
.pb-120 { padding-bottom: 120px !important; }
.pb-125 { padding-bottom: 125px !important; }
.pb-130 { padding-bottom: 130px !important; }
.pb-135 { padding-bottom: 135px !important; }
.pb-140 { padding-bottom: 140px !important; }
.pb-145 { padding-bottom: 145px !important; }
.pb-150 { padding-bottom: 150px !important; }
/*---- padding bottom End  ----*/

/*---- padding left Start  ----*/
.pl-0 { padding-left: 0 !important; }
.pl-5 { padding-left: 5px !important; }
.pl-10 { padding-left: 10px !important; }
.pl-15 { padding-left: 15px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-25 { padding-left: 25px !important; }
.pl-30 { padding-left: 30px !important; }
.pl-35 { padding-left: 35px !important; }
.pl-40 { padding-left: 40px !important; }
.pl-45 { padding-left: 45px !important; }
.pl-50 { padding-left: 50px !important; }
.pl-55 { padding-left: 55px !important; }
.pl-60 { padding-left: 60px !important; }
.pl-65 { padding-left: 65px !important; }
.pl-70 { padding-left: 70px !important; }
.pl-75 { padding-left: 75px !important; }
.pl-80 { padding-left: 80px !important; }
.pl-85 { padding-left: 85px !important; }
.pl-90 { padding-left: 90px !important; }
.pl-95 { padding-left: 95px !important; }
.pl-100 { padding-left: 100px !important; }
.pl-105 { padding-left: 105px !important; }
.pl-110 { padding-left: 110px !important; }
.pl-115 { padding-left: 115px !important; }
.pl-120 { padding-left: 120px !important; }
.pl-125 { padding-left: 125px !important; }
.pl-130 { padding-left: 130px !important; }
.pl-135 { padding-left: 135px !important; }
.pl-140 { padding-left: 140px !important; }
.pl-145 { padding-left: 145px !important; }
.pl-150 { padding-left: 150px !important; }
/*---- padding left End  ----*/

/*---- padding left-right Start  ----*/
.px-10 { padding-left: 10px !important; padding-right: 10px !important; }
.px-15 { padding-left: 15px !important; padding-right: 15px !important; }
.px-20 { padding-left: 20px !important; padding-right: 20px !important; }
.px-25 { padding-left: 25px !important; padding-right: 25px !important; }
.px-30 { padding-left: 30px !important; padding-right: 30px !important; }
.px-35 { padding-left: 35px !important; padding-right: 35px !important; }
.px-40 { padding-left: 40px !important; padding-right: 40px !important; }
.px-45 { padding-left: 45px !important; padding-right: 45px !important; }
.px-50 { padding-left: 50px !important; padding-right: 50px !important; }
.px-55 { padding-left: 55px !important; padding-right: 55px !important; }
.px-60 { padding-left: 60px !important; padding-right: 60px !important; }
.px-65 { padding-left: 65px !important; padding-right: 65px !important; }
.px-70 { padding-left: 70px !important; padding-right: 70px !important; }
.px-75 { padding-left: 75px !important; padding-right: 75px !important; }
.px-80 { padding-left: 80px !important; padding-right: 80px !important; }
.px-85 { padding-left: 85px !important; padding-right: 85px !important; }
.px-90 { padding-left: 90px !important; padding-right: 90px !important; }
.px-95 { padding-left: 95px !important; padding-right: 95px !important; }
.px-100 { padding-left: 100px !important; padding-right: 100px !important; }


/*---- padding top-bottom Start  ----*/
.py-10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.py-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.py-20 { padding-top: 20px !important; padding-bottom: 20px !important; }
.py-25 { padding-top: 25px !important; padding-bottom: 25px !important; }
.py-30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.py-35 { padding-top: 35px !important; padding-bottom: 35px !important; }
.py-40 { padding-top: 40px !important; padding-bottom: 40px !important; }
.py-45 { padding-top: 45px !important; padding-bottom: 45px !important; }
.py-50 { padding-top: 50px !important; padding-bottom: 50px !important; }
.py-55 { padding-top: 55px !important; padding-bottom: 55px !important; }
.py-60 { padding-top: 60px !important; padding-bottom: 60px !important; }
.py-65 { padding-top: 65px !important; padding-bottom: 65px !important; }
.py-70 { padding-top: 70px !important; padding-bottom: 70px !important; }
.py-75 { padding-top: 75px !important; padding-bottom: 75px !important; }
.py-80 { padding-top: 80px !important; padding-bottom: 80px !important; }
.py-85 { padding-top: 85px !important; padding-bottom: 85px !important; }
.py-90 { padding-top: 90px !important; padding-bottom: 90px !important; }
.py-95 { padding-top: 95px !important; padding-bottom: 95px !important; }
.py-100 { padding-top: 100px !important; padding-bottom: 100px !important; }

/*---- padding ----*/
.p-10{padding: 10px;}
.p-20{padding: 20px;}
.p-30{padding: 30px;}
.p-40{padding: 40px;}
.p-50{padding: 50px;}
.p-60{padding: 60px;}
.p-70{padding: 70px;}
.p-80{padding: 80px;}
.p-90{padding: 90px;}
.p-100{padding: 100px;}

/*---- min height start ----*/
.min-height-200 { min-height: 200px; }
.min-height-230 { min-height: 230px; }
.min-height-260 { min-height: 260px; }
.min-height-290 { min-height: 290px; }
.min-height-320 { min-height: 320px; }
.min-height-350 { min-height: 350px; }
.min-height-380 { min-height: 380px; }
.min-height-410 { min-height: 410px; }
.min-height-440 { min-height: 440px; }
.min-height-470 { min-height: 470px; }
.min-height-500 { min-height: 500px; }
.min-height-550 { min-height: 550px; }
/*---- min height end ----*/

/*---- max height Start ----*/
.max-height-200 { max-height: 200px; }
.max-height-230 { max-height: 230px; }
.max-height-260 { max-height: 260px; }
.max-height-290 { max-height: 290px; }
.max-height-320 { max-height: 320px; }
.max-height-350 { max-height: 350px; }
.max-height-380 { max-height: 380px; }
.max-height-410 { max-height: 410px; }
.max-height-440 { max-height: 440px; }
.max-height-470 { max-height: 470px; }
.max-height-500 { max-height: 500px; }
.max-height-550 { max-height: 550px; }
/*---- max height End ----*/


/*---- min width start ----*/
.min-width-100 { min-width: 100px; }
.min-width-120 { min-width: 120px; }
.min-width-130 { min-width: 130px; }
.min-width-140 { min-width: 140px; }
.min-width-150 { min-width: 150px; }
.min-width-160 { min-width: 160px; }
.min-width-180 { min-width: 180px; }
.min-width-200 { min-width: 200px; }
.min-width-230 { min-width: 230px; }
.min-width-260 { min-width: 260px; }
.min-width-290 { min-width: 290px; }
.min-width-320 { min-width: 320px; }
.min-width-350 { min-width: 350px; }
.min-width-380 { min-width: 380px; }
.min-width-410 { min-width: 410px; }
.min-width-440 { min-width: 440px; }
.min-width-470 { min-width: 470px; }
.min-width-500 { min-width: 500px; }
.min-width-550 { min-width: 550px; }
.min-width-600 { min-width: 600px; }
.min-width-650 { min-width: 650px; }
.min-width-700 { min-width: 700px; }
.min-width-750 { min-width: 750px; }
.min-width-800 { min-width: 800px; }
.min-width-850 { min-width: 850px; }
.min-width-900 { min-width: 900px; }
.min-width-950 { min-width: 950px; }
.min-width-1000 { min-width: 1000; }
/*---- min width end ----*/

/*---- max width Start ----*/
.max-width-100 { max-width: 100px; }
.max-width-120 { max-width: 120px; }
.max-width-130 { max-width: 130px; }
.max-width-140 { max-width: 140px; }
.max-width-150 { max-width: 150px; }
.max-width-160 { max-width: 160px; }
.max-width-180 { max-width: 180px; }
.max-width-200 { max-width: 200px; }
.max-width-230 { max-width: 230px; }
.max-width-260 { max-width: 260px; }
.max-width-290 { max-width: 290px; }
.max-width-320 { max-width: 320px; }
.max-width-350 { max-width: 350px; }
.max-width-380 { max-width: 380px; }
.max-width-410 { max-width: 410px; }
.max-width-440 { max-width: 440px; }
.max-width-470 { max-width: 470px; }
.max-width-500 { max-width: 500px; }
.max-width-550 { max-width: 550px; }
.max-width-600 { max-width: 600px; }
.max-width-650 { max-width: 650px; }
.max-width-700 { max-width: 700px; }
.max-width-750 { max-width: 750px; }
.max-width-800 { max-width: 800px; }
.max-width-850 { max-width: 850px; }
.max-width-900 { max-width: 900px; }
.max-width-950 { max-width: 950px; }
.max-width-1000 { max-width: 1000; }
/*---- max width End ----*/


/*----Width ----*/

.width-10 {width:10%;}
.width-12 {width:12%;}
.width-15 {width:15%;}
.width-20 {width:20%;}
.width-25 {width:25%;}
.width-30 {width:30%;}
.width-35 {width:35%;}
.width-40 {width:40%;}
.width-45 {width:45%;}
.width-50 {width:50%;}
.width-55 {width:55%;}
.width-60 {width:60%;}
.width-65 {width:65%;}
.width-70 {width:70%;}
.width-75 {width:75%;}
.width-80 {width:80%;}
.width-85 {width:85%;}
.width-90 {width:90%;}
.width-95 {width:95%;}
.width-100 {width:100%;}
.width-100-vh {width:100vh;}
.width-auto {width: auto}

/*---- Width End ----*/

.text-width{
    max-width: 658px;
}